{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="d-flex align-items-center py-4 typoClassic">
		<div class="form-signin m-auto">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal text-center">Pour vous connecter :</h1>
				<p>Cet espace est réservé aux membres de l'association.</p>
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="text-center">
					<button class="btn btn-primary rounded-pill p-0 px-sm-3 lh-sm" type="submit">
						Connexion
					</button>
				</div>
			</form>
		</div>

	</div>

{% endblock %}
