{% extends 'base.html.twig' %}

{% block title %}accueil
{% endblock %}

{% block body %}

	<main class="container-xl text-primary typoHand">
		<div class="row row-cols-1 row-cols-md-2">

			<h1 class="col-md-12 text-center typoClassic text-black py-3 m-0">Bienvenue sur le site de l'association des parents d'élève de Bruges-Capbis-Mifaget</h1>
			<!-- news et AG -->
			<section id="news" class="col p-0 py-2 p-md-2 section">
				<img src="{{asset('build/images/carnet-table-horizontal.jpg')}}" alt="cahier" class="w-100 d-none d-sm-block backGround">
				<img src="{{asset('build/images/carnet-table.jpg')}}" alt="cahier" class="d-sm-none w-100 backGround">
				<div class="leftPage d-flex flex-column justify-content-center align-items-center">
					<h2 class="m-0">News</h2>
				</div>

				<div class="rightPage h-100 ps-3 d-flex flex-column justify-content-evenly align-items-center">

					<p class="m-0 lh-1 text-center typoClassic  ps-3 pe-1">Marché de Noël
					</p>
					<button type="button" class="d-none d-sm-block btn btn-primary rounded-pill p-0 px-sm-3 lh-sm">
						<a href="events.html" class="text-light text-decoration-none">En savoir plus</a>
					</button>
					<a class="pb-3 d-sm-none" href="events.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
						</svg>
					</a>

					<p class="m-0 lh-1 text-center typoClassic  ps-3 pe-1">Tournoi d'échecs
					</p>
					<button type="button" class="d-none d-sm-block btn btn-primary rounded-pill p-0 px-sm-3 lh-sm">
						<a href="events.html" class="text-light text-decoration-none">En savoir plus</a>
					</button>
					<a class="pb-3 d-sm-none" href="events.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
							<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
						</svg>
					</a>
				</div>

			</section>

			<section id="AG" class="col p-0 py-2 p-md-2 section">
				<img src="{{asset('build/images/carnet-table-horizontal.jpg')}}" alt="cahier" class="w-100 d-none d-sm-block backGround">
				<img src="{{asset('build/images/carnet-table.jpg')}}" alt="cahier" class="d-sm-none w-100 backGround">
				<div class="leftPage d-flex flex-column justify-content-center align-items-center">
					<h2 class="w-75 p-0 m-0 text-wrap text-center">Le compte rendu de l'A-G
					</h2>
				</div>

				<div class="rightPage d-flex flex-column justify-content-around align-items-center">
					<a href="./asset/img/PV Assemblée Générale 2023-2.pdf" class="ps-3 pe-1 typoClassic text-decoration-none text-center" target="_blank">
						Téléchargez-moi</a>
				</div>
			</section>

			<!--articles-->
			{% for article in articles %}
				<section class="col p-0 py-2 p-md-2 section" id='article{{article.id}}'>
					<img src="{{asset('build/images/carnet-table.jpg')}}" alt="cahier" class="w-100 backGround">
					<div class="leftPage h-100 d-flex flex-column justify-content-around align-items-center">
						<h2 class="w-75 m-0 lh-1 text-center">{{article.title}}</h2>
						<img src="{{vich_uploader_asset(article, 'imageFile')}}" alt="image de l'article" class="d-none d-sm-block w-50">
					</div>

					<div class="rightPage d-flex flex-column justify-content-around align-items-center">
						<p class="d-sm-none d-md-block d-lg-none lh-1 m-0 ps-3 pe-1 text-center typoClassic">{{article.text|striptags|replace({'&nbsp;': ' '})|slice(0,100)}}...
						</p>
						<p class="d-none d-sm-block d-md-none d-lg-block lh-sm typoClassic w-75">
							{{article.text|striptags|replace({'&nbsp;': '\n' })|nl2br}}
						</p>
						<a class="d-sm-none d-md-block d-lg-none js-collapse-article" id="jsId-{{article.id}}" href="#collapseArticle-{{article.id}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
							</svg>
						</a>
					</a>

				</div>
			</section>
			<div class="d-none js-content-{{article.id}}">
				<div class="typoClassic">
					{{article.text|raw}}
				</div>
			</div>
		{% endfor %}
	</div>


	<!--arrow Bootstrap Icons top page-->
	<a href="#up" class="position-fixed z-3 arrowUp">
		<svg xmlns="http://www.w3.org/2000/svg" width="30" fill="currentColor" class="bi bi-arrow-up" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
		</svg>
	</a>
</main>{% endblock %}
